_viminfo
vim74/
vimfiles/autoload/*
vimfiles/dict/
!vimfiles/autoload/pathogen.vim

# Created by http://www.gitignore.io

### vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
