[submodule "vimfiles/bundle/vim-markdown"]
	path = vimfiles/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vimfiles/bundle/vim-colors-solarized"]
	path = vimfiles/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vimfiles/bundle/vim-colors-github"]
	path = vimfiles/bundle/vim-colors-github
	url = https://github.com/croaky/vim-colors-github
[submodule "vimfiles/bundle/dicwin-vim"]
	path = vimfiles/bundle/dicwin-vim
	url = https://github.com/koron/dicwin-vim
